body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgb(214, 213, 213);
}

table th, table td {
    border: 1px solid #b9b6b6;
    padding: 10px;
    text-align: center;
}

table th {
    background: #007bff;
    color: white;
}

input, select, button {
    padding: 8px;
    margin: 5px;
    width: 100%;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
}

.btn {
    background: rgb(4, 231, 4);
    color: white;
    padding: 8px;
    text-decoration: none;
}
